body {
  background: linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(214, 1, 140) 80%,
    rgb(214, 1, 250) 10%);
  background-size: 20vw;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body.on {
  background: linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(255, 8, 105) 30%,
    rgb(214, 1, 250) 10%);
  background-size: 40vw;
}

#wrapper {
  background: repeating-linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(234, 10, 40) 80%,
    rgb(244, 1, 250) 10%);
  position: absolute;
  width: 90vw;
  height: 90vw;
  border-radius: 100%;
  animation-name: move;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes move {
  from {
    background-size: 10vw;
    transform: rotate(0deg);
    opacity: 0.75;
    top: 0;
    left: -300px;
  }
  to {
    background-size: 40vw;
    transform: rotate(360deg);
    opacity: 0.02;
    top: -300px;
    left: 0;
  }
}

audio {
  position: absolute;
  left: -999px;
  top: -999px;
}

#info {
  position: fixed;
  z-index: 2;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: rgba(10, 160, 200, 0.8);
  text-shadow: #fff 0 0 2px;
  font-family: monospace;
}

