body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Overpass Mono', monospace;
}

.face {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  transition: 2s opacity;
}

#face1 {
  background: linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(214, 1, 140) 80%,
    rgb(214, 1, 250) 10%);
  background-size: 20vw;
}

.off {
  display: none;
  opacity: 0.0;
  transition: 2s opacity;
}

#help {
  color: rgba(255, 255, 255, 0.7);
  width: 200px;
  position: absolute;
  z-index: 3;
  font-size: 0.8rem;
  line-height: 1rem;
  right: 10px;
  top: 100px;
}

#face1.on {
  background: linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(255, 8, 105) 30%,
    rgb(214, 1, 250) 10%);
  background-size: 40vw;
}

#face2 {
  background: linear-gradient(
    -45deg,
    rgb(14, 130, 130) 30%,
    rgb(64, 111, 240) 80%,
    rgb(114, 180, 250) 10%);
  background-size: 40vw;
}

#face2.on {
  background: linear-gradient(
    -45deg,
    rgb(214, 130, 30) 30%,
    rgb(55, 118, 205) 30%,
    rgb(110, 180, 230) 10%);
  background-size: 60vw;
}

#face3 {
  background: linear-gradient(
    -35deg,
    rgb(114, 130, 230) 10%,
    rgb(14, 1, 140) 50%,
    rgb(214, 1, 250));
  background-size: 5vw;
}

#face3.on {
  background: linear-gradient(
    15deg,
    rgb(114, 130, 30) 10%,
    rgb(14, 8, 105) 50%,
    rgb(214, 1, 250));
  background-size: 20vw;
}

#face4 {
  background: linear-gradient(
    145deg,
    rgb(214, 30, 30) 30%,
    rgb(214, 1, 140) 80%,
    rgb(214, 1, 250) 10%);
  background-size: 30vw;
}

#face4.on {
  background: linear-gradient(
    45deg,
    rgb(214, 30, 30) 30%,
    rgb(155, 18, 105) 30%,
    rgb(214, 1, 250) 10%);
  background-size: 10vw;
}

canvas {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#wrapper {
  background: repeating-linear-gradient(
    -145deg,
    rgb(214, 130, 30) 30%,
    rgb(234, 10, 40) 80%,
    rgb(244, 1, 250) 10%);
  position: absolute;
  width: 90vw;
  height: 90vw;
  border-radius: 100%;
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 4;
  border: 10px solid transparent;
  top: 0;
}

#wrapper.face2 {
  background: linear-gradient(
    85deg,
    rgb(250, 3, 30) 30%,
    rgb(248, 8, 240) 50%,
    rgb(244, 68, 250) 20%);
}

#wrapper.face3 {
  background: repeating-linear-gradient(
    -110deg,
    rgb(4, 220, 170) 10%,
    rgb(2, 250, 240) 30%,
    rgb(2, 238, 250) 60%);
}

#wrapper.face4 {
  background: repeating-linear-gradient(
    -15deg,
    rgb(214, 10, 190) 30%,
    rgb(234, 10, 140) 50%,
    rgb(244, 68, 150) 10%);
}

#wrapper:hover {
  border: 10px solid #fff;
  box-shadow: 10px #fff 0 0 10px;
}

#shop {
  position: absolute;
  left: 30%;
  top: 80%;
  width: 150px;
  height: 150px;
  background-color: rgba(1, 220, 210, 0.9);
  border-radius: 100px;
  z-index: 5;
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  from {
    opacity: 1.0;
    background-color: rgba(1, 220, 210, 0.98);
  }
  to {
    opacity: 0.1;
    background-color: rgba(240, 10, 210, 0.98);
  }
}

@keyframes move {
  from {
    background-size: 10vw;
    transform: rotate(0deg);
    opacity: 0.75;
    left: -100vw;
  }
  to {
    background-size: 40vw;
    transform: rotate(360deg);
    opacity: 0.1;
    left: 100vw;
  }
}

#info {
  position: fixed;
  z-index: 4;
  left: 10px;
  bottom: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: rgba(110, 160, 200, 0.9);
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 1px;
  font-family: monospace;
  white-space: nowrap;
  line-height: 1.4rem;
  background-color: rgba(1, 1, 1, 0.15);
}

#info span {
  color: rgba(235, 10, 80, 0.8);
  font-size: 1.3rem;
}

#info h3 {
  font-size: 1.2rem;
  margin: 5px 2px;
}

#stats {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 5;
  color: rgba(255, 255, 255, 0.6);
}

#level {
  font-size: 2rem;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

#stats h3 {
  padding: 0;
  margin: 0;
}

#stats h3 span {
  font-size: 2.2rem;
}

#puzzle {
  background: linear-gradient(
    90deg,
    rgba(214, 30, 130, 0.5) 10%,
    rgba(235, 8, 205, 0.3) 30%,
    rgba(14, 111, 250, 0.2) 50%);
  position: fixed;
  z-index: 3;
  bottom: 100px;
  color: rgb(240, 3, 60);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  width: 100%;
}

#puzzle h2 {
  font-size: 1.7rem;
  line-height: 1.3rem;
  padding: 0 10px;
  width: 100%;
  flex-wrap: nowrap;
  font-family: monospace;
}

#puzzle p {
  text-align: center;
  border: 1px solid rgba(10, 200, 250, 0.8);
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  float: left;
}

#puzzle p div {
  align-self: flex-start;
}

.row {
  width: 50px;
  float: left;
}

#solution {
  position: fixed;
  left: 10px;
  top: 100px;
  max-height: 80vh;
  z-index: 6;
  padding: 10px;
  border-left: 10px solid rgba(240, 10, 250, 0.95);
  border-right: 10px solid rgba(240, 10, 250, 0.95);
  display: flex;
  opacity: 0.2;
  transition: 1s all;
  flex-wrap: wrap;
  overflow: scroll;
}

#solution:hover {
  opacity: 1.0;
  transition: 1s all;
}

.ansvalue, .plus {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(5, 200, 240, 0.8);
  color: #fff;
  margin: 1px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  user-select: none;
}

.plus {
  background-color: transparent;
  color: rgba(255, 2, 200, 0.8);
}

button {
  border: 0;
  background-color: #ddd;
  color: #fff;
  text-shadow: rgb(150, 250, 100) 0 0 10px;
  font-size: 1.9rem;
  line-height: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1px;
}

button:hover {
  background-color: rgb(10, 230, 200);
}

#solution.error .ansvalue {
  background-color: #f00;
}

.ansvalue {
  font-size: 40px;
}

#solution.error button {
  background-color: #f00;
}

@media all and (max-width: 500px) {
  #info h3 {
    font-size: 0.95rem;
    line-height: 1.1rem;
  }

  #level {
    font-size: 1.4rem;
  }

  #shop {
    top: 60%;
    width: 80px;
    height: 80px;
  }
}
